# IDE-specific files and directories
.idea/
.vscode/
.VSCodeCounter/
.DS_Store

# Eclipse-specific files and directories
.metadata/
.settings/
.project
.classpath

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies and build output
node_modules/
.astro/
dist/

# Dependency lock files
*.lock
*lock.json

**/lib/data/orders.json