---
import "./index.css"
---
<head>
	 <meta charset="UTF-8"> 
</head>
<body>
	<div>
		<div id="main_card">
			<label>Ordina ora con ACMEat!</label>
			
			<!-- <a href="/manager?id=1">Sei un locale?</a> -->

			
			
			<div id="comune">
				<label>Comune</label> <br>
				<select>
					<option value="nd">Seleziona un comune</option>
				</select>
			</div>

			<div id="locale">
				<label>Locale</label> <br>
				<select>
					<option value="nd">Seleziona un locale</option>
				</select>
			</div>

			<div id="menu">
				<label>Menu</label> <br>
				<select>
					<option value="nd">Seleziona un menu</option>
				</select>
				<label>Quantità</label> <br>
				<select>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>

			<div id="orario">
				<label>Fascia oraria</label> <br>
				<select>
					<option value="nd">Seleziona una fascia oraria</option>
				</select>
			</div>

			<div id="indirizzo">
				<label>Indirizzo</label> <br>
				<input>
			</div>

			<div id="ordina">
				<button>Ordina ora!</button>
			</div>

			

		</div>
		
		<div id="order_accepted" class = "closed">
			<label>Ordine accettato, presto sarai reinderizzato al pagamento!</label>
            <div>
				<label id="order_id">  </label>
				<label id="restaurant">  </label>
				<label id="address">  </label>
				<label id="time">  </label>
				<label id="price">  </label>
				<label id="shipping_price">  </label>
				
            </div>
			<div class = "loading">
				<label id="request_label"> In attesa dei dati di pagamento. Tentativo 1 </label>
			</div>
		</div>
	</div>
</body>

<script src="../scripts/index.ts"></script>
<script src="../scripts/order_accepted.ts"></script>

