---
import "./index.css"
---
<head>
	 <meta charset="UTF-8"> 
</head>
<body>
	<div>
		<div id="main_card">
            <div id = "menu_div">
				<table id="menu_table">
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Prezzo</th>
						<th id="menus_status">✅</th>
						<th>Delete</th>
					</tr>
				</table>
				<button id="add_menu_btn">Add menu</button>
			</div>
			<div>
				<table id="time_table">
					<tr>
						<th>Id</th>
						<th>Start</th>
						<th>End</th>
						<th id="menus_status">Statuts</th>
					</tr>
				</table>
			</div>
			<div id="commit_div">
				<button id="commit_btn">Commit changes</button>
			</div>
        </div>
			
	</div>
</body>

<script src="../scripts/manager.ts"></script>

