---
import "./index.css"
---
<head>
	 <meta charset="UTF-8"> 
</head>
<body>
	<div>
		<div id="main_card">
            <div>
                <label class="loading" id="mess_label">In attesa di verifica del pagamento</label>
            </div>
        </div>
			
	</div>
</body>

<script src="../scripts/payment_confirm.ts"></script>

