---
import "./index.css"
---
<head>
	 <meta charset="UTF-8"> 
</head>
<body>
	<div>
		<div id="main_card">
            <div>
                <label class="loading" id="mess_label">In attesa di verifica del pagamento</label>
            </div>

            <div>
                <label id="order_id">  </label>
				<label id="restaurant">  </label>
				<label id="address">  </label>
				<label id="time">  </label>
				<label id="price">  </label>
				<label id="shipping_price">  </label>
            </div>
        </div>
			
	</div>
</body>

<script src="../scripts/payment_confirm.ts"></script>

